<div class="card-columns mt-5">
  <div routerLink="/products" class="card mb-3" style="max-width: 540px;" >
    <div class="row no-gutters">
      <div class="col-md-4">
      
        <img src="assets/oils.png" class="card-img" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Oils</h5>
          <p class="card-text">It is used for anxiety, pain, a muscle disorder called dystonia, Parkinson disease, Crohn disease, and many other conditions</p>
          <p class="card-text"><small class="text-muted">stock is available</small></p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>



  <div routerLink="/products" class="card mb-3" style="max-width: 540px;" >
    <div class="row no-gutters">
      <div class="col-md-4">
      
        <img src="assets/tropical.png" class="card-img" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Tropicals</h5>
          <p class="card-text">It is used for anxiety, pain, a muscle disorder called dystonia, Parkinson disease, Crohn disease, and many other conditions</p>
          <p class="card-text"><small class="text-muted">stock is available</small></p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>



  <div  routerLink="/products" class="card mb-3" style="max-width: 540px;" >
    <div class="row no-gutters">
      <div class="col-md-4">
      
        <img src="assets/edibles.png" class="card-img" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Edibles</h5>
          <p class="card-text"> a food product that contains cannabinoids, especially tetrahydrocannabinol (THC).</p>
          <p class="card-text"><small class="text-muted">stock is available</small></p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>


  <div routerLink="/products"  class="card mb-3" style="max-width: 540px;" >
    <div class="row no-gutters">
      <div class="col-md-4">
      
        <img src="assets/capsules.png" class="card-img" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Capsules</h5>
          <p class="card-text">CBD capsules contain all-natural cannabidiol (CBD) oil in a handy pill form. They're a great way to incorporate CBD into your daily vitamin routine. </p>
          <p class="card-text"><small class="text-muted">stock is available</small></p>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  </div>